@tailwind base;
@tailwind components;
@tailwind utilities;

.failed-true {
	background: #ef7376;
}

.failed-false {
	background: #4add7f;
}

body {
	background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}

	body {
		color: #eee;
		background-color: #27272a;
	}

	.failed-true {
		background: #7f1d1d;
	}

	.failed-false {
		background: #14532d;
	}
}
